# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build files
*bin/*
*build/*
*Makefile
*srv_gen*
*cmake_install.cmake
*CMakeFiles/*
*CMakeCache.txt
*clouds/
